*{
 padding: 0;
 margin-left: 0;
 text-decoration: none;
  list-style: none;
 box-sizing: border-box;
 }
body{
font-family: montserrat;
}
nav{
background: orange;
height: 100px;
width: 100%;
 }

 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(64, 0, 128, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    resize: horizontal;
    border-radius: 4px;
  }

 .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  .sidenav hr{
    border: solid 1px whitesmoke;
  }
  
  .sidenav a:hover {
    color: black;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
  }


label.logo{
color: rgb(13, 12, 12);
font-size: 35px;
line-height: 80px;
padding-left: 100px;
font-weight: bold;
margin-left: -50px;
margin-top: -1px;


}
 nav ul{
float: right;
 margin-right: 20px;
margin-top: -2px;
}
nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;
}
nav ul li a{
color: white;
font-size: 17px;
padding: 7px 13px;
border-radius: 3px;
text-transform: uppercase;
}
 a.active,a:hover{
 background: #1b9bff;
 transition: .5s;
}




:host {
     
    display: block;
    perspective: 700px;
}

.card {
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    height: 300px;
    width: 200px;
    margin-left: 100px;
    
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
}
.card2 {
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    height: 300px;
    width: 200px;
    margin-left: 650px;
    margin-top:-350px ;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
}
.card3 {
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    height: 300px;
    width: 200px;
    margin-left: 1200px;
    margin-top:-340px ;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
}
.card4 {
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    height: 300px;
    width: 200px;
    margin-left: 100px;
    margin-top:100px ;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
}
.card5 {
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    height: 300px;
    width: 200px;
    margin-left: 650px;
    margin-top:-350px ;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
}
.card6 {
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    height: 300px;
    width: 200px;
    margin-left: 1200px;
    margin-top:-340px ;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
}
.card7 {
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    height: 300px;
    width: 200px;
    margin-left: 100px;
    margin-top:100px ;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
}
.card8 {
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    height: 300px;
    width: 200px;
    margin-left: 650px;
    margin-top:-350px ;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
}
.card9 {
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    height: 300px;
    width: 200px;
    margin-left: 1200px;
    margin-top:-340px ;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
}


.face {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    backface-visibility: hidden;

    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
    }
}

.front {
    transform: rotateY(180deg);
}
.ba {
    transform: rotateY(180deg);
}
.dc{
    transform: rotateY(180deg); 
}
.fe{
    transform: rotateY(180deg); 
}
.hg{
    transform: rotateY(180deg); 
}
.ji{
    transform: rotateY(180deg); 
}
.lk{
    transform: rotateY(180deg); 
}
.nm{
    transform: rotateY(180deg); 
}
.po{
    transform: rotateY(180deg); 
}

.raj{
    
    width: 70px;
    height: 70px;
    background-color: rgb(44, 121, 20);
   
    color: white;
    border: white;
    margin: 50px;
 border-radius: 30px;
 position: absolute;
 right: 10px;
 

}

.raj a{
    color: white;
    text-decoration: none;
    border-radius: 5%;
    position: inherit;
    margin-right: 200%;
    }
    
    .raj:hover{
    background-color: rgb(47, 193, 156);
    }

    .scroll-to-top {

        position: fixed;
    
        bottom: 15px;
    
        right: 15px;
    
        opacity: 0;
    
        transition: all .1s ease-in-out;
    
       }
    
       .show-scrollTop {
    
        opacity: 1;
    
        transition: all .1s ease-in-out;
    
       }

       .container {
        display: inline-block;
        cursor: pointer;
      }
      
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
      
      /* Rotate first bar */
      .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
      }
      
      /* Fade out the second bar */
      .change .bar2 {opacity: 0;}
      
      /* Rotate last bar */
      .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
      }
      